/* Tabla Colores */
$primario: #008080; //Turquesa
$primario-hover: #04C9C9;
$secundario: #212121; //Gris Plomo
$terciario: #F0F8FF; //Verde Agua
$letra-primaria: #000000; //Negro
$whatsapp: #00E676;//color whatsapp
$letra-secundaria: #FFFFFF; //Blanco
$layout-large: 1200px;// tama;o de media

* {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: sans-serif, Impact;
  line-height: 20px;
}

h2 {
  font-size: 40px;
  color: #20B2AA;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration-line: underline;
}

.separador {
	margin-top: 3rem!important;
	&--interno {
  	margin-top: 3rem!important;
  }
}

@media (min-width: $layout-large) {
  .separador--interno {
    margin-top: 0rem!important;
  }
}

.btn {
	&-primary {
	  margin-right: 10px;
	  background: $primario;
	  border: none;
	  &:hover {
		  background-color: $primario-hover;
		}
	}

	&-secondary {
		margin-right: 10px;
		background: $whatsapp;
		border: none;
	}
}


/**Index**/

.btn-grafico {
  margin-right: 10px;
  margin-left: 10px;
}

.nuestros-servicios {
  background-image: url(multimedia/servicios.jpg);
}

.texto-servicios {
  color: $letra-secundaria;
}

/**Ecommerce**/

h5 {
  font-size: 20px;
  font-weight: bold;
}

.text-ecommerce {
  background-color: $primario;
  color: $letra-secundaria;
  text-decoration: none;
  width: 100%; 
  height: 100%;
}

li {
  list-style: none;
}

ul .title {
  list-style-image: url(multimedia/checkmark1.png);
}

ul .contenido-lista {
  text-align: justify;
}

/**
.ecommerce-beneficios{
  background-color: $secundario;
}
**/

/**Contactos**/
#contacto {
	background-color: $terciario;
}

/**footer**/

.footer {
  background-color: $secundario;
}

.footer a {
  color: $letra-secundaria;
}