/* Tabla Colores */
* {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: sans-serif, Impact;
  line-height: 20px; }

h2 {
  font-size: 40px;
  color: #20B2AA;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration-line: underline; }

.separador {
  margin-top: 3rem !important; }
  .separador--interno {
    margin-top: 3rem !important; }

@media (min-width: 1200px) {
  .separador--interno {
    margin-top: 0rem !important; } }

/**Index**/
.btn-grafico {
  margin-right: 10px;
  margin-left: 10px; }

.nuestros-servicios {
  background-image: url(multimedia/servicios.jpg); }

.texto-servicios {
  color: #FFFFFF; }

/**Ecommerce**/
h5 {
  font-size: 20px;
  font-weight: bold; }

.text-ecommerce {
  background-color: #008080;
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  height: 100%; }

li {
  list-style: none; }

ul .title {
  list-style-image: url(multimedia/checkmark1.png); }

ul .contenido-lista {
  text-align: justify; }

/**
.ecommerce-beneficios{
  background-color: $secundario;
}
**/
/**Contactos**/
#contacto {
  background-color: #F0F8FF; }

.btn-primary {
  margin-right: 10px;
  background: #008080;
  border: none; }

.btn-primary:hover {
  background-color: #04C9C9; }

/**footer**/
.footer {
  background-color: #212121; }

.footer a {
  color: #FFFFFF; }
