* {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: sans-serif, Impact;
  line-height: 20px; }

h2 {
  font-size: 40px;
  color: #20B2AA;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration-line: underline; }

/**Index**/
.btn-grafico {
  margin-right: 10px;
  margin-left: 10px; }

.nuestros-servicios {
  background-image: url(multimedia/servicios.jpg); }

.texto-servicios {
  color: white; }

/**Ecommerce**/
h5 {
  font-size: 20px;
  font-weight: bold; }

.text-ecommerce {
  background-color: #008080;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%; }

li {
  list-style: none; }

ul .title {
  list-style-image: url(multimedia/checkmark1.png); }

ul .contenido-lista {
  text-align: justify; }

/**
.ecommerce-beneficios{
  background-color: #212121;
}
**/
/**Contactos**/
.btn-primary {
  margin-right: 10px;
  background: #20B2AA;
  border: none; }

.btn-primary:hover {
  background-color: #008080; }

/**footer**/
.footer {
  background-color: #212121; }

.footer a {
  color: white; }
